<div id="<%= dom_id comment %>">
<article>
  <div class="comment-username">
    <p><%= comment.body %></p>
    <div>
      <% if current_user == comment.user %>
        <%= link_to "Edit", edit_post_comment_path(post ,comment) %>
      <% end %>
    </div>
  </div>
  <small>by <%= comment.user.username %></small>
</article>
<hr/>
</div>
