<form action="<%= post_comments_path(post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <% if !parent.nil? %>
    <input type="hidden" name="comment[parent_id]" value=<%= parent.id %>>
    <input type="hidden" name="comment[depth]" value=<%= parent.depth + 1 %>>
  <% end %>
  <textarea name="comment[body]" rows=6, cols=48></textarea>
  <input type="submit" value="submit">
</form>