<h4 class="title is-4 mb-4">Editing comment</h4>

<%= form_with url: post_comment_path(params[:post_id], @comment), method: "patch" do |form| %>
  <%= form.fields_for :comment do |f| %>
    <div class="field">
      <div class="control">
        <%= f.text_area :body, value: @comment.body, rows: 3, class: "textarea has-fixed-size" %>
      </div>
    </div>
  <% end %>
  <div class="field">
    <div class="control">
      <%= form.submit "Save", class: "button is-link mt-4", data: { turbo: false } %>
    </div>
  </div>
<% end %>