<div class="columns mt-2">
  <div class="column is-half">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Demo Login Credentials
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <p><strong>Username:</strong> user0@world.co</p>
          <p><strong>Password:</strong> 123456</p>
          <p>You can use these credentials to try out the app.</p>
        </div>
      </div>
    </div>
  </div>
</div>