<% if current_user %>
<% else %>
  <%= link_to "Create account", new_user_registration_path %>
  <p>or</p>
  <%= form_for "Login",
  url: "/users/auth/google_oauth2",
  method: :post,
  data: { turbo: "false" } do |f| %>
    <%= f.submit "Login", type: "image", src: url_for("/assets/web_light_rd_SU@1x.png") %><br />
  <% end %>
  <p>Already have an account?</p>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
