<section class="section">
  <div class="content">
    <h4 class="title is-4">Planned Feature</h4>
    <p>This page would notify the user of the following:</p>
    <ol class="mt-4">
      <li>new comment on user post</li>
      <li>reply to user comment</li>
      <li>new follower</li>
      <li>like count for user posts</li>
      <li>like count for user comments</li>
    </ol>
  </div>
</section>
