<h1>follow#edit</h1>

<%= form_with model: @follow do |form| %>
  <%= form.hidden_field :approved, value: true %>
  <% if @follow.approved %>
    <%= form.submit 'Unfollow' %>
  <% else %>
    <%= form.submit 'Follow' %>
  <% end %>
<% end %>