<div class="level">
  <div class="icon-text level-item">
    <div class="level">
      <span class="material-symbols-outlined">comment</span>
      <span><%= post.comments_count %></span>
    </div>
  </div>
  <div class="level-item"><%= render partial: 'poly_likes/form', locals: { post: post}%></div>
</div>
