<section class="section">
  <div class="container">
    <h1 class="title">Editing Post</h1>

    <%= render "form", post: @post %>

    <div class="buttons">
      <%= link_to "Show this post", @post, class: "button is-link" %>
      <%= link_to "Back to posts", posts_path, class: "button is-light" %>
    </div>
  </div>
</section>
