<div class="container">
  <div class="column">
    <%= render partial: 'form', locals: { post: @post  } %>
  </div>
  <div class="column">
    <%= turbo_frame_tag :posts do %>
      <%= render @posts %>
    <% end %>

    <% if @pagy.next.present? %>
      <%= turbo_frame_tag :pagination,
          loading: :lazy,
          src: posts_path(format: :turbo_stream, page: @pagy.next)
          %>
    <% end %>
  </div>
</div>
