.container {
  display: flex;
  gap: 50px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.card {
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  padding: 20px;
  width: 60vw;
}

.comments-likes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.comments-likes-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 30px;
}

.profile-img {
  border-radius: 50%;
}

.username {
  
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}

.comment-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 70vw;
}

.sub-comment {
  padding-left: 20px;
}

.hide {
  display: none
}

.like-reply-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}