<% flash.each do |key, value| %>
  <div 
    data-controller="notification"
    data-notification-delay-value="4000"
    class="notification is-primary mb-2 animate-flash">
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
    <button data-action="notification#hide" class="delete"></button>
  </div>
<% end %>