<h1>Odinbook</h1>
<% if !current_user.nil? %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Followers', follows_path %>
  <%= link_to 'Profile', user_path(current_user.id) %>
<% else %>
  
<% end %>